<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<header>
    <h1>Welcome to My E-Commerce Store</h1>
    <nav>
        <ul>
            <li><a class="menu-home" href="#">Home</a></li>
            <li><a class="menu-shop" href="#">Shop</a></li>
            <li><a class="menu-contact" href="#">Contact</a></li>
            <li><a class="menu-cart" href="/content/akart-ecommerce/en-us/pages/cart.html"><i class="fa fa-shopping-cart"></i> Cart <sup id="cart-count">0</sup></a></li>
        </ul>
    </nav>
</header>