<!-- <sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-call="${template.placeholder @ isEmpty=true}"></sly> -->

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.css @ categories='akart.components.header'}" />

<header class="primary-header flex">
    <div class="nav-logo">
        <div class="logo">
            <a class="logo-name" href="/content/akart-ecommerce/en-us/home.html">AKart</a>
        </div>
    </div>
    
    <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">
        <li class="active"><a class="nav-about" href="#">Home</a></li>
        <li><a class="" href="#">Products</a></li>
        <li><a class="" href="#">About Us</a></li>
        <li><a class="" href="#">Contact us</a></li>
    </ul>
    
    <ul class="secondary-navigation flex">
        <li class="user-login"><i class="fa-solid fa-user"></i><span class="hide-label">Login</span></li>
        <li class="user-cart">
            <a href="/content/akart-ecommerce/en-us/pages/cart.html">
                <i class="fa-solid fa-cart-shopping"></i><span class="hide-label">Cart</span>
            </a>
        </li>

        <span class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark" style="display: none" ;></i>
        </span>
    </ul>
        
</header>

<sly data-sly-call="${clientlib.js @ categories='akart.components.header'}" />